<%% div_for <%= singular_name %> do %>
<% for attribute in attributes -%>
  <p>
    <label><%= attribute.name %></label>: <%%=h <%= singular_name %>.<%= attribute.name %> %>
  </p>
<% end -%>
  
  <div class="actions">
    <%%= link_to 'Show', <%= singular_name %> %> |
    <%%= link_to 'Edit', edit_<%= singular_name %>_path(<%= singular_name %>), :class => :edit %> |
    <%%= link_to 'Destroy', <%= singular_name %>, :confirm => 'Are you sure?', :method => :delete, :class => :destroy %>
  </div>
<%% end -%>